<h1>Admin Dashboard</h1>

<table class="table">
  <thead>
    <th>Type</th>
    <th>Count</th>
  </thead>
  <tbody>
    <tr>
      <td>Products</td>
      <td><%= @num_products %></td>
    </tr>
    <tr>
      <td>Categories</td>
      <td><%= @num_categories %></td>
    </tr>
  </tbody>
</table> 
