<section class=>
  <header class="page-header">
    <h1>About</h1>
  </header>
  <div>
    <h5>
    The jungle store is unique because we sell unusual items. We strive to always stock cool stuff. Why don't you check us out today!
    </h5>
  </div>
</section>
